deep-translator==1.9.1
Flask==2.2.2
numpy==1.23.5
pandas==1.5.1
tqdm==4.64.1
functions-framework==3.*
beautifulsoup4==4.9.3
python-dotenv==0.21.0
google-api-core==2.11.0
google-auth==2.16.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.58.0

